<h1>{{ title }}</h1>
<p>{{ paragraph | uppercase }}</p>
<p>{{ 3 + 6 }}</p>
<p>{{ 10 > 0 ? "Vero" : "Falso" }}</p>
<p>{{ 10 > 0 ? "Vero" : "Falso" }}</p>
<p>{{ docente.nome }} insegna {{ docente.materia }}</p>
<hr />
<!-- <div class="dimensioni">
  <app-primo></app-primo>
</div>
<div class="dimensioni">
  <app-secondo></app-secondo>
</div>
<app-studente></app-studente> -->

<div class="dimensioni">
  <app-computer></app-computer>
</div>

<div class="dimensioni">
  <app-computers></app-computers>
</div>
