<h2>Le nostre ricette</h2>

<div class="col">
  <div class="divRicetta" *ngFor="let ricetta of ricette">
    <h3>{{ ricetta.nome }}</h3>
    <p>{{ ricetta.descrizione }}</p>
    <img [src]="ricetta.image" />

    <!-- <p *ngIf="ricetta.allergeni; else noAllergeni">{{ ricetta.allergeni }}</p>
    <ng-template #noAllergeni>
      <p>Non ci sono allergeni</p>
    </ng-template> -->

    <div class="allergeni" *ngIf="ricetta.allergeni; else noAllergeni">
      <span class="allergeni">Allergeni:</span>
      <span class="allergeni" *ngFor="let allergene of ricetta.allergeni">{{
        allergene
      }}</span>
    </div>
    <ng-template #noAllergeni>
      <div class="allergeni">
        <span>Non ci sono allergeni</span>
      </div>
    </ng-template>
    <p class="price">
      <strong>{{ ricetta.prezzo | currency: "EUR" }}</strong>
    </p>
  </div>
</div>
