<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Form corsi</h1>
      <form [formGroup]="corsiForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="nomeCorso">Nome corso</label>
          <input
            type="text"
            id="nomeCorso"
            class="form-control"
            formControlName="nomeCorso"
          />
        </div>
        <p
          class="alert alert-danger"
          *ngIf="
            !corsiForm.get('nomeCorso').valid &&
            corsiForm.get('nomeCorso').touched
          "
        >
          Si prega di inserire il nome del corso
        </p>
        <p
          class="alert alert-danger"
          *ngIf="
            corsiForm.get('nomeCorso').errors &&
            corsiForm.get('nomeCorso').errors['nomeIsProibito']
          "
        >
          Questo nome è proibito
        </p>

        <div class="mb-3">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            class="form-control"
            formControlName="email"
          />
        </div>
        <p
          class="alert alert-danger"
          *ngIf="
            !corsiForm.get('email').valid && corsiForm.get('email').touched
          "
        >
          Si prega di inserire una mail valida
        </p>
        <p
          class="alert alert-danger"
          *ngIf="
            corsiForm.get('nomeCorso').errors &&
            corsiForm.get('nomeCorso').errors['nomeIsProibito']
          "
        >
          Questa email è proibita
        </p>

        <div class="mb-3">
          <label class="form-label" for="statoCorso">Stato corso</label>
          <select
            id="statoCorso"
            class="form-control"
            formControlName="statoCorso"
          >
            <option
              *ngFor="let statoCorso of statoCorsoList"
              [value]="statoCorso"
            >
              {{ statoCorso }}
            </option>
          </select>
        </div>
        <p class="alert alert-warning" *ngIf="">Selezionare un tipo di corso</p>
        <div class="mb-3">
          <label for="cap">CAP</label>
          <input
            type="text"
            id="cap"
            class="form-control"
            formControlName="cap"
          />
        </div>
        <p
          class="alert alert-danger"
          *ngIf="!corsiForm.get('cap').valid && corsiForm.get('cap').touched"
        >
          Si prega di inserire un CAP valido
        </p>
        <div class="mb-3">
          <label for="email">Codice fiscale:</label>
          <input
            type="text"
            id="codiceFiscale"
            class="form-control"
            formControlName="codiceFiscale"
          />
        </div>
        <p
          class="alert alert-danger"
          *ngIf="
            !corsiForm.get('codiceFiscale').valid &&
            corsiForm.get('codiceFiscale').touched
          "
        >
          Si prega di inserire una mail valida
        </p>
        <button
          [disabled]="!corsiForm.valid"
          class="btn btn-primary"
          type="submit"
        >
          Invia
        </button>
      </form>
    </div>
  </div>
  <div class="row mt-4" *ngIf="submitted">
    <div class="col-12">
      <h3>Dati del corso:</h3>
      <p><strong>Nome corso:</strong> {{ datiCorso.nomeCorso }}</p>
      <p><strong>Email:</strong> {{ datiCorso.email }}</p>
      <p>
        <strong>Stato del corso:</strong>
        {{ datiCorso.statoCorso }}
      </p>
      <p>
        <strong>CAP:</strong>
        {{ datiCorso.cap }}
      </p>
      <p>
        <strong>Codice fiscale:</strong>
        {{ datiCorso.codiceFiscale }}
      </p>
    </div>
  </div>
</div>
