<button type="button" (click)="onPrendiUtenti()">Prendi utente</button>
<br />
<button type="button" (click)="onCreaUtente('Dario', 'Mennillo')">
  Crea utente
</button>
<br />
<button type="button" (click)="onPrendiMieiUtenti()">Prendi miei utenti</button>
<br />
<button type="button" (click)="onCancellaUtenti()">
  Cancella tutti gli utenti
</button>
<br />
<button type="button" (click)="onCancellaSingolo('-N4h72QvSEQeULyeZzFQ')">
  Cancella un utente
</button>
<br />
<button type="button" (click)="onGetPost()">Ottieni utente json-server</button>
<br />
<button type="button" (click)="onPostDataPost()">
  Aggiungi utente json-server
</button>
<br />
