<div class="container">
  <app-dashboard></app-dashboard>

  <h2>Lista lezioni</h2>
  <!-- <app-lezione-element *ngFor="let lezione of lezioni" [element] = "lezione"></app-lezione-element> -->
  <app-lezione-element *ngFor="let lezione of lezioni" [nomeDelDocente] = "lezione"></app-lezione-element>

</div>

<!-- <div class="container">
  <app-prova-input *ngFor="let nomeDocente of nomiDocenti" [nome] = "nomeDocente"></app-prova-input>
</div> -->
<!-- <div class="container">
  <h2>Lista studenti</h2>
  <app-prova-input *ngFor="let cognomeStudente of cognomiStudenti" [cognome] = "cognomeStudente"></app-prova-input>
</div> -->

<!-- ESEMPIO CON OUTPUT -->
<div class="container">
  <app-prova-output (informazione)="onReciveInfo($event)"></app-prova-output>
</div>

<div class="container">

  <app-prova-output (dati)="onRiceveDato($event)" ></app-prova-output>
</div>

<!-- FOR nel component figlio -->
<div class="container">
  <h4>Elenco Studenti</h4>
  <app-prova-input2 [cognomi] = "cognomiStudenti"></app-prova-input2>
</div>

<div class="container">
  <h4>Riepilogo studenti:</h4>
  <app-prova-input *ngFor="let schedaStudente of schedeStudenti" [elencoSchede] = "schedaStudente"></app-prova-input>
</div>


